<section class="main-content">
  <h3>Shelf Summary</h3>
  <div class="content">
    <p><span>Shelf Name:</span>{{ summary.shelfName }}</p>
    <p><span>Shelf Type:</span>{{ summary.shelfType }}</p>
    <p><span>ShelfPosition Id:</span>{{ summary.shelfPositionName }}</p>
    <p><span>ShelfPosition Id:</span>{{ summary.shelfPositionId }}</p>
    <p><span>Device Name:</span>{{ summary.deviceName }}</p>
    <p><span>Device Type:</span>{{ summary.deviceType }}</p>
    <button routerLink="/shelves">Go to Shelves</button>
  </div>
</section>
