<!-- <p>shelf works!</p>
<ul>
  <li *ngFor="let shelf of shelves">
    <p>{{ shelf.id }}</p>
    <p>{{ shelf.name }}</p>
    <p>{{ shelf.shelfType }}</p>
    <p>{{ shelf.shelfPositionId }}</p>
  </li>
</ul> -->

<div class="container-fluid device">
  <div *ngFor="let shelf of shelves">
    <div class="card" style="width: 18rem; padding: 2rem">
      <img
        src="https://cdn.pixabay.com/photo/2020/09/20/12/05/shelf-5586904_1280.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Shelf id: {{ shelf.id }}</h5>
        <p class="card-text">Name: {{ shelf.name }}</p>
        <p class="card-text">Shelf type: {{ shelf.shelfType }}</p>
        <p>ShelfPosition Id: {{ shelf.shelfPositionId }}</p>
        <button [routerLink]="['/shelfSummary', shelf.id]">Summary</button>
      </div>
    </div>
  </div>
</div>
