<form (ngSubmit)="addShelfPositionToDevice()" shelfPositioinForm="ngForm">
  <mat-card class="shelfPosition-form">
    <mat-card-title class="title">Add ShelfPosition To Device</mat-card-title>
    <mat-form-field>
      <mat-label>Device id</mat-label>
      <input matInput type="text" name="deviceId" [(ngModel)]="deviceId" />
    </mat-form-field>

    <mat-form-field>
      <mat-label> ShelfPosition id </mat-label>
      <input
        matInput
        type="text"
        name="shelfPositionId"
        [(ngModel)]="shelfPositionId"
      />
    </mat-form-field>

    <button class="btn" type="submit">Add</button>
  </mat-card>
</form>

<div *ngIf="errMessage">
  <app-toaster [errorMessage]="errMessage"></app-toaster>
</div>
