<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Inventory Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Device
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/addDevice">Add device</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/updateDevice"
                >Update device</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/devices">All Devices</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ShelfPosition
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/addShelfPosition"
                >Add ShelfPosition</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/addShelfPositionToDevice"
                >Add ShelfPosition to Device</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/shelfPositions"
                >All ShelfPositions</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shelf
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/addShelf">Add Shelf</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/addShelfToShelfPosition"
                >Add Shelf to ShelfPosition</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/shelf">Shelf by id</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/shelves">All Shelves</a>
            </li>
          </ul>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-info" routerLink="dashboard">
        Dashboard
      </button>
    </div>
  </div>
</nav>

<!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/addDevice"
            >AddDevice</a
          >
        </li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/updateDevice">UpdateDevice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/devices">Devices</a>
       </li> -->
