.device {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  margin-top: 1rem;
}

form {
  margin-top: 3rem;
}

.shelf-form {
  padding: 3rem;
  width: 40%;
  margin: auto;
}

mat-card .btn {
  background-color: rgb(0, 136, 255);
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

mat-card .title {
  color: black;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}
